<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playwright Demo</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <div class="header-container">
            <header>WELCOME TO THE HOMEPAGE</header>
        </div>
        <div class="button-container">
            <a href="/second-page" class="button">Go to next page</a>
        </div>
    </div>
</body>
</html>